body{
	background-color: #335C67;
	background: linear-gradient(-70deg, #335C67,#26434B);
	z-index:0;
}
.container{
	z-index:0
}

/*Nav bar Styling*/
.navigation{
	z-index: 10;
}


.navBar{
	display:flex;
	/*border:dashed;*/
	width:100%;
	height:100px;
	
}

.nav{
	display:flex;
	flex-direction: row;
	align-items: center;
	background-color: black;
	/*border-bottom: solid #540B0E;*/
	/*border-bottom-width: .4rem;*/
	/*border-radius: 8px;*/
	width:100%;

	/*border:solid black;*/
}


.navUl{
	display:flex;
	
	justify-content: space-around;
	align-items: center;
	width:100%;
	height:80%;
	background-color:black;
	border:solid;
	border-bottom-color:#D9E1E3;
	/*border-radius: 18px*/

}

.li{
	display:flex;
	list-style: none;
	position:relative;
	z-index:0;
	/*cursor: pointer;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*background-color: white;*/
	/*border:solid;*/
	/*border-radius: 8px;*/

}



.f {
	display:flex;
	flex-direction: column;
	/*height:100%;*/
	align-self: stretch;
	margin:0;
	background-color: black;
	border-color: black;
	border-radius: 8px
}


.fInput{
	width: 100%;
    background-color: black;
    color: white;
    text-decoration: bold;
    padding: 14px 20px;
    margin: 0;
    border: solid;
    border-color: black;
    border-radius: 8px;
    cursor: pointer;
	font-weight: bold;
	font-size:1.5rem;
}

.home {
	background-color: #AB9B83;
	border:none;
	list-style: none;
	/*border-radius: 8px*/
}

.fhInput{
	border:none;
	background-color: #AB9B83;
	font-weight: bold;
	font-size: 2rem;
	text-decoration: underline;
	font-family: Impact, Charcoal, sans-serif;

	cursor: pointer;
}

.fInput:hover{
	background-color: white;
	color:black;
}

.search input{
	/*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#account{
	/*align-self: flex-end;*/
	display:flex;
	position:relative;
}

.drop{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-self: flex-end;
	width:100%;
	height:200%;
	position:absolute;
	z-index:-10000;
	
	/*border:dashed red;*/

}

.dropMenu{
	display:none;
	/*display:flex;*/
	flex-direction:column;
	justify-content: space-between;
	align-self: flex-end;
	width:180%;
	height:85%;
	background-color: white;
	z-index:-1000;
	text-align: center;
	border: solid;
    border-style:outset;
    border-radius: 8px;
    cursor: pointer;
	font:10px;

	/*border:dashed yellow;*/

}
.dropMenu b{
	text-align: left:;
	align-self: flex-start;
	margin-bottom: 0;
	padding-bottom: 0;
}

.accInput{
	display: flex;
	width: 90%;
    background-color: gray;
    color: white;
    margin: 1%;
    margin-top: 0;
    padding-top:0;
    border: solid;
    border-radius: 8px;
    /*cursor: pointer;*/
    text-align: center;
	font:10px;
}

.active{
	display:block;
	z-index: 10;
}

.activeDrop{
	z-index: 10;
	height:740%;
	/*border: dashed blue;*/
}
.editing{
	background-color: white;
	text-align:left;
	color:black;
	border-style: groove;
}

/*.arrow{
	position:absolute;
	align-self: flex-start;
	background-color: white;
	margin-top: 10%;
	width:0;
	height:0;
	border-left: 50px transparent;
	border-right: 50px transparent;
	border-bottom: 50px solid black;
	z-index:0
	border:solid;
}*/

/*.accInput{
	width: 50%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 0;
    border: solid;
    border-radius: 8px;
    cursor: pointer;
	font:10px;
}*/

/*End of NavBar*/