
.navigation{
	z-index: 100;
	position:relative;
}

.blockBody{
	display:flex;
	justify-content: center;
	border:solid;
	min-height: 100vh;
	height:100%;
	z-index: 0;

}

.leftCol{
	display:flex;
	flex-direction:column;
	width:55%;
	margin-right: 0;
	background-color: white;
	align-items: center;
	border: 1px solid #d8e0e5;
	min-height:100%;
    z-index: 0;
	/*border:dashed red;*/
	
	
	/*justify-content: space-between;*/

}

.inputDiv{
	display:flex;
	flex-direction:column;
	width:70%;
	margin-left:1em;
	margin-top:4%;


    padding: 32px;
    border: 1px solid #d8e0e5;
    /*border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);*/

	/*border:dashed green;*/
	

}

.inputDiv input{
	width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
}

#nameInput{
	width:40%;
}

#etfDescript{
	box-sizing: content-box;
}

.searchDiv{
	display:flex;
	flex-direction:column;
	margin:1%;
	margin-left:1em;
	width:90%;
	/*align-self: center;*/
	/*margin: 0 auto 75px;*/
    padding: 30px;
    border: 1px solid #d8e0e5;
    /*border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
*/
	/*border:dashed gray;*/
		
}

/* loading wheel */
.load-wrapp {
    align-self: center;
    float: left;
    width: 100px;
    height: 100px;
    margin-left:40%;
    margin-top: 2rem;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #3cb0fd;
}

.load-2 .line:nth-last-child(1) {
	animation: loadingB 1.5s 1s infinite;
}
.load-2 .line:nth-last-child(2) {
	animation: loadingB 1.5s .5s infinite;
}
.load-2 .line:nth-last-child(3) {
	animation: loadingB 1.5s 0s infinite;
}

@keyframes loadingB {
    0 {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

.hidden{
	display:none;
	height: 0;
	width:0;
}
/* end of load wheel */ 

#searchStocks{
	/*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.listDiv{
	/*display:flex;*/
	justify-content: center;
	min-height: 3rem;
	/*border:solid;*/
}

.stockList{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}


.stockTick{
	position:relative;
	display:flex;
	flex-direction:column;
	align-items: stretch;
	border-bottom: solid black;
	border-bottom-width: .2rem;
	width:95%;
	padding:.2rem;
	padding-top: .4rem;

	margin:1%;
}

.stockTick:nth-child(odd){
	background-color: #F3F1F0;
}

.listCon{
	display:flex;
	justify-content: space-between;
}




.stockDiv{
	display:flex;
	position:relative;
	justify-content: center;
	height:0;
	/*width:0;*/
	
	
	/*border:dashed blue;*/
}

.innDiv{
	display:none;
	height:17rem;
	width:23rem;
	z-index:10;
	border: solid;
	/*border:solid black;
    border-style:outset;
    border-radius: 8px;*/
    cursor: pointer;
	font:10px;
	/*opacity:0.9;*/
	
	background-color: white;
	/*border:dashed yellow;*/
}

.innDiv li{
	list-style: square;
	margin:0;
}

/*.innDiv li:nth-child(odd){
	background-color: #C9E4E3;
}*/

.innDiv p{
	text-align: center;
	font-weight: bold;
	border-bottom:solid black;
} 


#hoverUl{
	width:90%;
	/*border: red;*/
	margin:0;
}

#hoverUl li{
	/*display:inline;*/
	margin:0;
	width:95%;
	padding:0;
	border-bottom: solid .1em;
	/*border:green;*/
}

.remove{
	/*display:none;*/
}

.hovering{
	display:block;

}



.queueBut{
	order:3;
}

.rightCol{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 0;
	width:25%;
	min-height:100%;
	background-color: white;
	border: 1px solid #d8e0e5;
/*    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;*/
    z-index: 0;
	/*border:dashed blue;*/
	
}

.pieChart{
	align-self: center;
	width:95%;
	height:40%;
	margin:3%;
    /*padding: 32px;*/
    border: 1px solid #d8e0e5;
/*    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);*/
	z-index: 0;
	/*border:dashed red;*/

}

.stockQueue{
	display:flex;
	flex-direction:column;
	margin:3%;

    padding: 32px;
    border: 1px solid #d8e0e5;
/*    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);*/

	/*border:dashed;*/
	/*border-color:green;*/
}

.overviewDiv{
	overflow-y: auto;
}
.queueList{
	list-style: none;

}
.delBut{
	margin:4%;
	padding: 12px 20px;
	height:3em;
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: flex-end;
    cursor: pointer;
}
.delBut:hover{
	text-decoration:underline;
	background-color: #3cb0fd;
}

.submitDiv{
	display:flex;
	/*align-self:stretch;*/
	/*justify-content: flex-end;*/
	margin:1%;

	/*border:dashed gray;*/
	
}

#submit{
	/*width: 20%;*/
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: flex-end;
    cursor: pointer;
}

#subForm input:hover{
	text-decoration:underline;
	background-color: #3cb0fd;
}

