
.blockBody{
	display:flex;
	justify-content: space-between;
	border:solid;
	height:100vh;

}

.leftCol{
	display:flex;
	flex-direction:column;
	width:70%;
	margin:1%;
	background-color: white;
	align-items: center
	border: 1px solid #d8e0e5;
    border-radius: 8px;
	/*border:dashed red;*/
	
	
	/*justify-content: space-between;*/

}

.inputDiv{
	display:flex;
	flex-direction:column;
	width:70%;
	margin:1%;
	margin-top:4%;

    padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed green;*/
	

}

.inputDiv input{
	width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#nameInput{
	width:40%;
}

.searchDiv{
	display:flex;
	flex-direction:column;
	margin:1%;
	width:90%;
	align-self: center;
	margin: 0 auto 75px;
    padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed gray;*/
		
}

#search{
	/*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.listDiv{
	/*border:solid;*/
}


.rightCol{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin:1%;
	width:25%;
	background-color: white;
	border: 1px solid #d8e0e5;
    border-radius: 8px;
	/*border:dashed blue;*/
	
}

.pieChart{
	height:20%;
	margin:2%;
    padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed red;*/

}

.stockQueue{
	display:flex;
	flex-direction:column;
	margin:2%;

    padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed;*/
	/*border-color:green;*/
}

.submitDiv{
	display:flex;
	/*align-self:stretch;*/
	/*justify-content: flex-end;*/
	margin:1%;

	/*border:dashed gray;*/
	
}

#submit{
	width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: flex-end;
    cursor: pointer;
}


