.blockBody{
	display:flex;
	height:100%;
	
	/*border-color:red;*/
	/*border:dashed;*/
}


.leftCol{
	display:flex;
	flex-direction:column;
	background-color: white;
	
	margin:1%;
	width:70%;
	
    padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed blue;*/
}

.welcome{
	display:flex;
	flex-direction: column;
	
	padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
	background-color: white;
	margin:1%;
	/*border-bottom-size:.2px;*/
	/*border-bottom-style: outset;*/

	/*border:solid red;*/
}

.graphSP{
	height:10rem;

	/*border:dashed gray;*/
}

.newsDiv{
	padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
	background-color: white;
	margin:1%;
	
	/*border:solid black;*/
}




.rightCol{
	display:flex;
	background-color: white;
	margin:1%;
	width:20%;
    padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed;*/
	
	

}

.accountInfo{
	display:flex;
	flex-direction:column;
	/*flex-wrap: wrap:;*/
	background-color: white;
	text-align:center;	
	padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
	height:90%;
	width:95%;

	/*border:dashed green;*/

}
	
.accountTitle{
	display:flex;
	height:3rem;
	width:90%;
	text-align:center;
	align-self: center;
	justify-content: center;
	border-bottom:solid black;
	border-size:.3rem;


}

.etfList{
	display: flex;
	flex-direction:row;
	justify-content: center;
	width:90%;
	margin:1%;
	padding:0;

	/*border:dashed black;*/
	
}

.etf{
	display:flex;
	width:100%;
	justify-content:space-between;
	/*margin:1%;*/
	/*z-index:0;*/
	list-style: none;
	
	/*border:dashed blue;*/
}

#alex{
	/*align-self:flex-end;*/
}

/*============================================*/
