.blockBody{
	display:flex;
	height:100%;
	margin:auto;
	width:80%;
	
	/*border:dashed red;*/
}


.leftCol{
	display:flex;
	flex-direction:column;
	background-color: white;
	justify-content: flex-start;
	/*margin:1%;*/
	margin-right: 0;
	width:70%;
	min-height: 100%;
    padding: 32px;
    border: 1px solid #d8e0e5;
/*    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;*/
    /*box-shadow: 0 3px 5px rgba(0,0,0,0.15);*/

	/*border:dashed blue;*/
}

.welcome{
	display:flex;
	flex-direction: column;
	padding: 32px;
    /*border: 1px solid #d8e0e5;*/
    /*border-radius: 8px;*/
    /*box-shadow: 0 3px 5px rgba(0,0,0,0.15);*/
	background-color: white;
	margin:1%;
	/*border-bottom-size:.2px;*/
	/*border-bottom-style: outset;*/

	/*border:solid red;*/
}

.graphSP{
	height:3rem;

	/*border:dashed gray;*/
}

.newsDiv{
	padding: 32px;
    border: 1px solid #d8e0e5;
    /*border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);*/
	background-color: white;
	margin:1%;
	
	/*border:solid black;*/
}

.newsList{

	list-style: none;

}

.newsDiv li{
	padding:.1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}

.newsDiv li:nth-child(odd){
	background-color: #EFECEC;
}

.newsDiv li:nth-child(even){
	background-color: #F3F1F0;
} 

 .imageContainer{


 }


.newsImage{
	height:6rem;
	width:10rem;

}

.newsInformation{

	margin-left: 0.5rem;
}

.newsInformation span{
	font-size: 0.7em;


}

.rightCol{
	display:flex;
	background-color: white;
	/*margin:1%;*/
	margin-left: 0;
	width:20%;
	min-height: 100%;
    
    padding: 32px;
    border: 1px solid #d8e0e5;
/*    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;*/

    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed;*/
	
	

}

.accountInfo{
	display:flex;
	flex-direction:column;
	/*flex-wrap: wrap:;*/
	background-color: white;
	text-align:center;	
	padding: 32px;
    /*border: 1px solid #d8e0e5;*/
    /*border-radius: 8px;*/
    /*box-shadow: 0 3px 5px rgba(0,0,0,0.15);*/
	height:90%;
	width:95%;

	/*border:dashed green;*/

}
	
.accountTitle{
	display:flex;
	height:2rem;
	width:90%;
	text-align:center;
	align-self: center;
	justify-content: center;
	border-bottom:solid black;
	border-size:.3rem;


}

.etfList{
	display: flex;
	flex-direction:column;
	justify-content: center;
	width:90%;
	margin:1%;
	padding:0;

	/*border:dashed black;*/
	
}

.etf{
	display:flex;
	width:100%;
	justify-content:space-between;
	/*margin:1%;*/
	/*z-index:0;*/
	padding:.1rem;
	list-style: none;
	margin:1%;
	border-bottom: solid black;
	border-bottom-width: .08rem;
	

	
	/*border:dashed blue;*/
}

.etf:nth-child(odd){
	background-color: #F3F1F0;
}


#alex{
	/*align-self:flex-end;*/
}

/*============================================*/
