

.blockBody{
	display:flex;
	flex-direction: column;
	height:100vh;
	align-items: center;

	/*border:solid;*/

}

.topRow{
	display:flex;
	width:80%;
	height:16rem;
	justify-content:space-between;
	background-color: white;
	border: 1px solid #d8e0e5;
    border-radius: 8px;
    margin:1%;

	/*border:dashed pink;*/
}

.theme{
	display:flex;
	flex-direction: column;

	
	background-color: white;
	margin:1%;
	padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
	
	/*border:dashed gray;*/
}

.buttons{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-self: center;
	height:60%;
	margin:1%;
	padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed red;*/
	
}

.buttons form{
	text-align:center;

}

.bottomRow{
	display:flex;
	flex-direction: column;
	width:95%;
	margin: 1%;
	background-color: white;
	border: 1px solid #d8e0e5;
    border-radius: 8px;

	/*border:dashed red;*/
}

.toggleBar{
	background-color: gray;
	border: 1px solid #d8e0e5;
    border-radius: 8px;
}

.toggleList{
	display:flex;
	justify-content: space-around;
	height:100%;
	padding:0;
	margin:0;

	flex-direction: row;
	align-items: center;
	background-color: gray;
	
	border-radius: 8px;
	
	/*border:solid gray;*/
}


.toggleList li{
	list-style: none;
}

.tab{
	
	display:flex;
	flex-direction: column;
	/*height:100%;*/
	align-self: stretch;
	margin:0;
	margin-top:.1%;
	margin-bottom: .1%;
	padding:auto;
	background-color: white;
	cursor:pointer;
	height: 100%;
	padding:1em;
	border-color: black;
	border-radius: 8px
}

.tab:hover{
	text-decoration:underline;
	background-color: #3cb0fd;
}

.activeTab{
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	border-bottom: solid;
	border-color: white;
	margin-bottom: -5px;
	text-decoration: underline;
}


.views{
	display:flex;
	height:100%;
	position:relative;

	/*border:dashed black;*/


}

.overviewDiv{
	/*order: 0;*/
	/*border:dotted;*/
	/*border-color: green*/
}

.performanceDiv{
	display:flex;
	justify-content: center;
	/*order: -1;*/
	/*border:dotted;*/
	/*border-color: brown;*/
}

.performGraph{
	width:100%;
	margin:1%;
}


.newsDiv{
	/*order: -1;*/
	/*border:dotted;*/
	/*border-color: blue;*/
}

.commentsDiv{
	/*order: -1;*/
	/*border:dotted;*/
	/*border-color: red;*/
}

.view{
	/*z-index: -1;*/
	height:100%;
	width:90%;
	display:none;
}

.activeBox{
	display:block;
	/*z-index: 1;*/
}



