

.blockBody{
	display:flex;
	flex-direction: column;
	height:100vh;
	align-items: center;

	/*border:solid;*/

}

.topRow{
	display:flex;
	width:80%;
	height:16rem;
	justify-content:space-between;
	background-color: white;
	border: 1px solid #d8e0e5;
    border-radius: 8px;
    margin:1%;

	/*border:dashed pink;*/
}

.theme{
	display:flex;
	flex-direction: column;

	
	background-color: white;
	margin:1%;
	padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
	
	/*border:dashed gray;*/
}

.buttons{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-self: center;
	height:60%;
	margin:1%;
	padding: 32px;
    border: 1px solid #d8e0e5;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);

	/*border:dashed red;*/
	
}

.button{
	text-align:center;
	
}

.inputs{
	background-color: white;
	border: 1px solid #d8e0e5;
    border-radius: 8px;
}

.inputs:hover{
	text-decoration:underline;
	background-color: #3cb0fd;
}

.bottomRow{
	display:flex;
	flex-direction: column;
	width:95%;
	margin: 1%;
	background-color: white;
	border: 1px solid #d8e0e5;
    border-radius: 8px;

	/*border:dashed red;*/
}

.toggleBar{
	background-color: gray;
	border: 1px solid #d8e0e5;
    border-radius: 8px;
}

.toggleList{
	display:flex;
	justify-content: space-around;
	height:100%;
	padding:0;
	margin:0;

	flex-direction: row;
	align-items: center;
	background-color: black;
	
	border-radius: 8px;
	
	/*border:solid gray;*/
}


.toggleList li{
	list-style: none;
}

.tab{
	
	display:flex;
	flex-direction: column;
	/*height:100%;*/
	align-self: stretch;
	margin:0;
	margin-top:.1%;
	margin-bottom: .1%;
	padding:auto;
	background-color: black;
	cursor:pointer;
	height: 100%;
	padding:1em;
	border-color: black;
	border-radius: 8px;
	font-weight: bold;
	font-size:1.2rem;
	color:white;
}

.tab:hover{
	text-decoration:underline;
	/*background-color: white;*/
	/*color:black;*/
	border-color: white;
}

.activeTab{
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	border-bottom: solid;
	border-color: white;
	margin-bottom: -5px;
	background-color: white;
	color:black;
	/*text-decoration: underline;*/
}


.views{
	display:flex;
	justify-content: flex-start;
	/*align-items: stretch;*/
	height:100%;
	position:relative;

	/*border:dashed black;*/


}

.overviewDiv{
	display:flex;
	/*flex-direction: column;*/
	justify-content:space-between;
	/*order: 0;*/
	/*border:dotted green;*/
	
}

.ovUlDiv{
	display:flex;
	justify-content: center;
	width:40%;

	/*border:dashed green;*/
}

.overviewUl{
	width:90%;
	
	/*border:dashed;*/
}

.donGraph{
	height:90%;
	width:50%;
	
	/*border:dashed red;*/
}

.performanceDiv{
	display:flex;
	justify-content: flex-start;
	/*order: -1;*/
	/*border:dotted;*/
	/*border-color: brown;*/
}

.performGraph{
	width:90%;
	margin:1%;
	margin-left: 0;
}


.newsDiv{
	/*order: -1;*/
	/*border:dotted;*/
	/*border-color: blue;*/
}

.commentsDiv{
	/*order: -1;*/
	/*border:dotted;*/
	/*border-color: red;*/
}

.view{
	/*display:flex;*/
	/*z-index: -1;*/
	height:100%;
	width:90%;
	display:none;
}

.activeBox{
	display:flex;
	/*z-index: 1;*/
}



