<!DOCTYPE html>

<html>
	<head>
		<title>KeyNote + Symbol</title>
		<link rel="stylesheet"	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet"	href="../static/css/base.css"/>
		{% block css %}{% endblock %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" type="text/css"/>
	</head>

	<body>
		<div class="navigation">
			<div class="navBar">
				<nav class="nav">
					<ul class="navUl">
						<li class="li home">
							<form class="f" action ="/login" method="GET">
								<input class="fInput" type="submit" value="KeyNote">
							</form>
						</li>
						<li class="li explore">
							<form class="f" action ="/explore" method="GET">
								<input class="fInput" type="submit" value="Explore Themes">
							</form>
						</li>
						<li class="li build">
							<form class="f" action ="/build" method="GET">
								<input class="fInput" type="submit" value="Build Theme">
							</form>
						</li>
						<li class="li search">
							<input id="homeSearch" name="mainSearch" placeholder="Search Themes">
						</li>
						<li class="li manageAcc">
							<div  class="f">
								<input id="baseAccount" class="fInput" type="submit" value="Manage Account">
								<div id="baseDrop" class="drop">
									<div class="arrow"></div>
									
									<div id="baseMenu" class="dropMenu"> <u>If You Want to Edit your Info Press Edit</u>
										<b>Username
										<input id="user" class="accInput"  type="text" name="username" value="Username" readonly></b>
										<b>Password
										<input id="pass" class="accInput"  type="text" name="password" value="Password" readonly></b>
										<b>First Name
										<input id="first" class="accInput"  type="text" name="firstName" value="First Name" readonly></b>
										<b>Last Name
										<input id="last" class="accInput"  type="text" name="lastName" value="Last Name" readonly></b>
										<b>Email
										<input id="email" class="accInput"  type="text" name="email" value="Email" readonly></b>
										<input id="edit" class=""  type="submit" value="Edit">
									</div>
								</div>
							</div>
						</li>
						<li class="li logOut">
							<form class="f" action ="/logout" method="GET">
								<input class="fInput" type="submit" value="Log Out">
							</form>
						</li>
					</ul>
				</nav>
</div> 
		</div>
		
		<div id="conClick" class="container">{% block body %}{% endblock %}</div>



		
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.js"></script>
	<script type="text/javascript" src="../static/js/base.js"></script>
	{% block javascript %}{% endblock %}	
	</body>

</html>