{% extends "base.html" %}

{% block css %}
<link rel="stylesheet"	href="../static/css/build.css"/>
{% endblock %}

{% block body %}

<div class="blockBody">
	<div class="leftCol">	
		<div class="inputDiv">
			{% if message %}
			<p>{{message}}</p>
			{% endif %}
			<input id="nameInput" name="etfName" type="text" placeholder="Enter Name" {% if etf %} value="{{etf.ETF_Name}}" {% endif %}>
			<input id="etfDescript" type="text" placeholder="Enter Description" {% if etf %} value="{{etf.ETF_descr}}" {% endif %}>
		</div>

		<div class="searchDiv">
			<input id="searchStocks" type="text" placeholder="Search Stocks">
			
			<div class="listDiv" >
				<div class="load-wrapp hidden">
					<div class="load-2">
	                	
	                	<div class="line"></div>
	                	<div class="line"></div>
	                	<div class="line"></div>
	            	</div>
            	</div>
				<ul id= "stockUl" class="stockList">
					

						<!-- <li id="idTest" class="stockTick">
							<div class="listCon">hellp	
								<div class=stockDiv>
									<div class="innDiv">
										<ul id="hoverUl">
											<li >price</li>
											<li>name</li>
											<li>percent</li>
										</ul>
									</div>
								</div>
								<input type="submit" class="queueBut" data-id="AAPL">
							</div>
						</li>
					 -->
					
				

				</ul>
			</div>
		</div>
		
	</div>
	
	<div class="rightCol">
	  <div class="pieChart">
		  <!-- <p>pie chart hear</p> -->
		</div>

		<div class="stockQueue">
			<div class="overviewDiv">
				<p>Stock Queue</p>
				<ul id="queueTick" class="queueList">
					{% if stocks %}	
						{% for key, value in stocks %}
							<li class="ticker">
							<p>{{key}}</p>
							<p>{{value[0]}}</p>
								<input type="range" id="sliderBar" min="0" max="100" step="1" value="{{value[1]}}">
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>

		</div>
		<div class="submitDiv">	
			<form id="subForm" action="" method="POST">
				<input id="submit" type="submit" value="Submit">
				<input id="data" name="data" type="hidden">
			</form>
		</div>
	</div>
</div>	
			
{% endblock %}





{% block javascript %}
<script type="text/javascript" src="../static/js/build.js"></script>
{% endblock %}