{% extends "base.html" %}

{% block css %}
<link rel="stylesheet"	href="../static/css/build.css"/>
{% endblock %}

<!-- Remove block nav before finale-already in base -->
<!-- {% block nav %}
<div class="navBar">
	<nav class="nav">
		<ul class="navUl">
			<li class="li home">
				<form class="f" action ="" method="GET">
					<input type="submit" value="KeyNote">
				</form>
			</li>
			<li class="li explore">
				<form class="f" action ="" method="GET">
					<input type="submit" value="Explore Themes">
				</form>
			</li>
			<li class="li build">
				<form class="f" action ="" method="GET">
					<input type="submit" value="Build Theme">
				</form>
			</li>
			<li class="li search">
				<input id="homeSearch" name="mainSearch" placeholder="Search Themes">
			</li>
			<li class="li manageAcc">
				<form class="f" action ="" method="GET">
					<input type="submit" value="Manage Account">
				</form>
			</li>
			<li class="li logOut">
				<form class="f" action ="" method="GET">
					<input type="submit" value="Log Out">
				</form>
			</li>
		</ul>
	</nav>

</div> 
{% endblock %} -->
<!-- ====================================== -->


{% block body %}
<div class="blockBody">
	<div class="leftCol">	
		<div class="inputDiv">
			<p>Give Your Theme a Name nd Description. Then Search for Stocks to add to The Queue</p>
			<input name="etfName" type="text" placeholder="Enter Name">
			<input name="etfDescript" type="text" placeholder="Enter Description">
		</div>

		<div class="searchDiv">
			<input id="search" type="text" placeholder="Search Stocks">
			
			<div class="listDiv">
				<ul class="stockList"></ul>
			</div>
		</div>
		
	</div>
	
	<div class="rightCol">
		<div class="pieChart">
			<p>pie chart hear</p>
		</div>

		<div class="stockQueue">
			<div class="overviewDiv">
				<p>Stock Queue</p>
				<ul class="queueList">
					<li class="ticker">
						<input type="range" id="sliderBar" min="0" max="100" step="1" value="0">
					</li>
				</ul>
			</div>

		</div>
		<div class="submitDiv">	
			<input id="submit" type="submit" value="Submit">	
		</div>
	</div>
</div>	
			
{% endblock %}





{% block javascript %}
<script type="text/javascript" src="../static/js/build.js"></script>
{% endblock %}