<!DOCTYPE html>

<html>
	<head>
		
		<title>KeyNote</title>
		<link rel='icon' type="image/png" href="/static/images/favicon.ico" sizes="16x16"/>
		<link rel="stylesheet"	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet"	href="../static/css/login.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" type="text/css"/>
	</head>

	<body>
		<!-- <div class ="leftBuf buf">
		</div> -->
		<div class = "container">
		
			<div class="image">
				<img src='/static/images/logo.png' width="300" height="150" alt="logo">
			</div>
			<div class="subCon subDiv" >	
				<div class = "welcome">
					<div class = "message">
						<h3>Welcome to KeyNote!</h3>
						<div class="text">
							<p>If you would like to see what KeyNote is about, click the "Explore" button below. Otherwise, Sign Up and get started!</p>
						</div>
						<form action = "/sample" method = "GET">
							<input class="exploreBut botton"  type = "submit" value = "Explore!">
						</form>
					</div>	
				</div>
				<div class="changeCon">	
					<div id="changer1" class = "loginDiv box active">
						
							<form class="loginForm" action="/login" method="POST">
								<input name="username" class ="user" type="text" placeholder="Username">
								<input name="password" class ="pass" type="password" placeholder="Password">
								<input class="goBut botton" type ="submit" value="Go!">
							</form>
							
							<div class="errorMessage">{{errorMessage}}</div>
							
						
							<input id="signUp" class="signUp botton" type="submit" value="Sign Up"/>
						
					</div>
					<div id="changer2" class ="signUpDiv box">
						
							<form class="signupForm" action="/register" method="POST">
								<input name="usernameSignUp" class ="user" type="text" placeholder="Username">
								<input name="passwordSignUp" class ="pass" type="password" placeholder="Password">
								<input name="firstname" class ="pass" type="text" placeholder="First Name">
								<input name="lastname" class ="pass" type="text" placeholder="Last Name">
								<input name="email" class ="pass" type="text" placeholder="Email">
								<input class="goBut botton" type ="submit" value="Go!">
							</form>
							
							<div class="errorMessage">{{errorMessage}}</div>
							
							<input id="loginUp" class="signUp botton" type="submit" value="Login"/>
							
					</div>
				</div>
			</div>
			
		</div>
		<!-- <div class="rightBuf buf">
		</div>
		 -->

	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.js"></script>

	<script type="text/javascript" src="../static/js/login.js"></script>
	
	</body>

</html>