<!DOCTYPE html>

<html>
	<head>
		
		<title> KeyNote Investing </title>
		<link rel="stylesheet"	src="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet"	src="../static/style.css"/>
	</head>

	<body>
		<div class = "container">
			<div class = "welcome">
				<div class = "message">
					<p>Welcome to KeyNote!</p>
					<form action = "" method = "GET">
						<input type = "submit" value = "Explore!">
					</form>
				</div>	
			</div>
			<div class = "login">
				<form action="" method="GET">
					<input name="username" class ="box user" type="text" placeholder="Username">
					<input name="password" class ="box pass" type="text" placeholder="Password">
					<input type ="submit" value="Go!">
				</form>
			</div>
		</div>

		

	</body>

</html>