{% extends "base.html" %}

{% block css %}
<link rel="stylesheet"	href="../static/css/singleTheme.css"/>
{% endblock %}

<!-- Remove block nav before finale-already in base -->
<!-- {% block nav %}
<div class="navBar">
	<nav class="nav">
		<ul class="navUl">
			<li class="li home">
				<form class="f" action ="" method="GET">
					<input type="submit" value="KeyNote">
				</form>
			</li>
			<li class="li explore">
				<form class="f" action ="" method="GET">
					<input type="submit" value="Explore Themes">
				</form>
			</li>
			<li class="li build">
				<form class="f" action ="" method="GET">
					<input type="submit" value="Build Theme">
				</form>
			</li>
			<li class="li search">
				<input id="homeSearch" name="mainSearch" placeholder="Search Themes">
			</li>
			<li class="li manageAcc">
				<form class="f" action ="" method="GET">
					<input type="submit" value="Manage Account">
				</form>
			</li>
			<li class="li logOut">
				<form class="f" action ="" method="GET">
					<input type="submit" value="Log Out">
				</form>
			</li>
		</ul>
	</nav>
</div> 
{% endblock %}
 --><!-- ====================================== -->


{% block body %}
<div class="blockBody">
	<div class="topRow">
		<div class="theme">
			<h3>{{ETF_name}}</h3>
			<ul class="etfInfo">
				<li>Author: {{author}}</li>
				<li>Date Created: {{date}}</li>
				<li>Change: {{change}}</li>
			</ul>
		</div>

		<div class="buttons">
			<form id="save" action="" method="POST">
				<input type="submit" value="Save">
			</form>
			<form id="modify" action="" method="POST">
				<input type="submit" value="Modify">
			</form>
			<form id="share" action="" method="POST">
				<input type="submit" value="Share">
			</form>
		</div>		
	</div>
	
	<div class="bottomRow">
		<div class="toggleBar">
			<ul class="toggleList">
				<li id="overview" class="tab activeTab">Overview</li>
				<li id="performace" class="tab">Performace</li>
				<li id="news" class="tab">News</li>
				<li id="comments" class="tab">Comments</li>
			</ul>
		</div>
		<div class="views">

   
			<div class="overviewDiv view activeBox">
				<ul>overview screen
					<li>{{ETF_descr}}</li>
				</ul>

			</div>
			
			<div class="performanceDiv view">
				<ul>perform screen</ul>
			</div>
			
			<div class="newsDiv view">
				<ul>news screen</ul>
			</div>
			
			<div class="commentsDiv view">
				<ul>comments screen</ul>
			</div>
		
		</div>
	</div>
</div>
{% endblock %}





{% block javascript %}
<script type="text/javascript" src="../static/js/singleTheme.js"></script>
{% endblock %}