{% extends "base.html" %}

{% block css %}
<link rel="stylesheet"	href="../static/css/singleTheme.css"/>
{% endblock %}

{% block body %}
<div class="blockBody">
	<div class="topRow">
		<div class="theme">
			<h3 id="etfName">{{ETF_name}}</h3>
			<ul class="etfInfo">
				<li>Author: {{author}}</li>
				<li>Date Created: {{date}}</li>
				<li>Change: {{change}}</li>
			</ul>
		</div>

		<div class="buttons">
			{% if not_owner %}
			<form class="button" id="save" action="" method="GET">
				<input class="inputs" id="saveInput" type="submit" value="Save">
			</form>
			{% endif %}
			<form class ="button" id="modify"  method="GET">
				<input class="inputs" id="modInput" type="submit" value="Modify">
			</form>
			<form class="button" id="share" action="" method="POST">
				<input class="inputs" type="submit" value="Share">
			</form>
		</div>		
	</div>
	
	<div class="bottomRow">
		<div class="toggleBar">
			<nav class="navBot">
				<ul class="toggleList">
					
					<li id="overview" class="tab activeTab">Overview</li>
					<li id="performance" class="tab">Performace</li>
					<li id="news" class="tab">News</li>
					<li id="comments" class="tab">Comments</li>
				</ul>
			</nav>
		</div>
		<div class="views">

   
			<div id="ovDiv" class="overviewDiv view activeBox">
				<div class="ovUlDiv">
					<ul class="overviewUl Desctipt" >
						<li>{{ETF_descr}}</li>
					</ul>
					<ul class="stockUl">

						{% for key, value in etf_dict.items %}

							<li>Symbol: {{key}}, 
							Theme Weight: {{value[1]}}
							Price: {{value[0]}}
						{% endfor %}
					</ul> 

				</div>
				<div class="donGraph">
					
				</div>
			</div>
			<div id="peDiv" class="performanceDiv view">
				<div class="performGraph">
					
				</div>
			</div>
			
			<div id="neDiv" class="newsDiv view">
				<ul>
				{% for news_article in news_articles %}
					<li> 
						<a target="_blank" href="{{news_article[1]}}">{{news_article[0]}}</a>  
					</li>
				{% endfor %}
				</ul>
			</div>
			
			<div id="coDiv" class="commentsDiv view">
				<ul>
					
				</ul>
			</div>
		
		</div>
	</div>
</div>
{% if etf_pickle %}
	<div id='hidden' type="hidden">{{etf_pickle}}
	</div>
{% endif %}
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="../static/js/singleTheme.js"></script>
{% endblock %}