{% extends "base.html" %}

{% block css %}
<link rel="stylesheet"	href="../static/css/singleTheme.css"/>
{% endblock %}

{% block body %}
<div class="blockBody">
	<div class="topRow">
		<div class="theme">
			<h3 id="etfName">{{ETF_name}}</h3>
			<ul class="etfInfo">
				<li>Author: {{author}}</li>
				<li>Date Created: {{date}}</li>
				<li>Change: {{change}}</li>
			</ul>
		</div>

		<div class="buttons">
			<form id="save" action="" method="POST">
				<input type="submit" value="Save">
			</form>
			<form id="modify" action="" method="POST">
				<input type="submit" value="Modify">
			</form>
			<form id="share" action="" method="POST">
				<input type="submit" value="Share">
			</form>
		</div>		
	</div>
	
	<div class="bottomRow">
		<div class="toggleBar">
			<nav class="navBot">
				<ul class="toggleList">
					
					<li id="overview" class="tab activeTab">Overview</li>
					<li id="performance" class="tab">Performace</li>
					<li id="news" class="tab">News</li>
					<li id="comments" class="tab">Comments</li>
				</ul>
			</nav>
		</div>
		<div class="views">

   
			<div id="ovDiv" class="overviewDiv view activeBox">
				<div class="ovUlDiv">
					<ul class="overviewUl" >overview screen
						<li>{{ETF_descr}}</li>

					</ul>			
				</div>
				<div class="donGraph">
					graph here
				</div>
			</div>
			<div id="peDiv" class="performanceDiv view">
				<div class="performGraph">perform screen</div>
			</div>
			
			<div id="neDiv" class="newsDiv view">
				<ul>news screen</ul>
				{% for news_article in news_articles %}
					<li> 
						<a target="_blank" href="{{news_article[1]}}">{{news_article[0]}}</a>  
					</li>
				{% endfor %}
			</div>
			
			<div id="coDiv" class="commentsDiv view">
				<ul>comments screen</ul>
			</div>
		
		</div>
	</div>
</div>
{% if etf_pickle %}
	<div id='hidden' type="hidden">{{etf_pickle}}
	</div>
{% endif %}
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="../static/js/singleTheme.js"></script>
{% endblock %}